flask==2.3.3
gunicorn==21.2.0
joblib==1.3.2
scikit-learn==1.5.2
xgboost==1.7.6
pandas==2.1.1
numpy==1.26.0



#for trainig:

# pandas
# scikit-learn
# xgboost
# shap
# imblearn
# joblib


# run pip install -r requirements.txt

